.report {
    position: relative;
    margin: 15px;
    padding: 10px 25px 25px 25px;
    border-radius: 10px;
    background-color: white;
    width: 40%;
    font-size: 30px;
    text-align: start;
    color: rgb(17,40,65);
    transition: all 0.2s ease-out;
    border: 2px solid rgb(17,40,65);
}

#date {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: gray;
    /* opacity: 0.5; */
}

.selectedReport {
    position: relative;
    margin: 15px;
    padding: 10px 25px 25px 25px;
    border-radius: 10px;
    background-color: rgb(17,40,65);
    width: 40%;
    font-size: 30px;
    text-align: start;
    color: gray;
    transition: all 0.2s ease-out;
    border: 2px solid gray;
}

textarea {
    padding: 0;
    overflow-y: hidden;
    border: none;
    resize: none;
    background-color: initial;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
}

textarea:focus {
    border: 0 none initial;
    outline: none;
}

.report button {
    position:absolute;
    top: 5px;
    right: 0px;
    background-color: initial;
    border: none;
}

.selectedReport button {
    position:absolute;
    top: 5px;
    right: 0px;
    background-color: initial;
    border: none;
}

.report img {
    height: 25px;
    filter: invert(11%) sepia(47%) saturate(1375%) hue-rotate(180deg) brightness(94%) contrast(92%);
    transition: all 0.2s ease-out;
}

.report img:hover {
    transform: scale(1.05, 1.05);
}

.selectedReport img {
    height: 25px;
    filter: invert(50%) sepia(2%) saturate(11%) hue-rotate(344deg) brightness(101%) contrast(91%);
    transition: all 0.2s ease-out;
}

.selectedReport img:hover {
    transform: scale(1.05, 1.05);
}

@media (max-width: 719px) {
    .report {
        width: 70%;
        font-size: 25px;
    }
    #date {
        font-size: 20px;
    }
    .selectedReport {
        width: 70%;
        font-size: 25px;
    }
    textarea {
        font-size: 25px;
    }
}